<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App concept</title>
</head>
<body>
  <h1>Целевая аудитория</h1>
    <h3>Геймеры</h3>

  <h1>Функционал</h1>
    <h3>Регистрация на сайте, просмотр товаров, возможность заказать товар на дом, оставить отзыв о мгазине, просмотреть профиль и т.п</h3>

  <h1>Распределение контента и функционала по веб-страницам</h1>
    <h3>Первая (главная) страница показывает какой тип товара (например мыши, клавиатуры или мониторы) присутсвует на сайте и какой фирмы</h3>
    <h3>Вторая страница показывает сам ассортимент</h3>
    <h3>Третья это профиль пользователя </h3>


  <h1>Дизайн</h1>
  <h3>Дизайн думаю не сильно изменится, однако будут позаимствованы некоторые решения со следующих сайтов:</h3>
    <p><a href="https://gshop.uz/?ysclid=lhzrpcnsqu514487615">https://gshop.uz/?ysclid=lhzrpcnsqu514487615</a></p>
    <p><a href="https://upg.uz/ru">https://upg.uz/ru</a></p>
    <p><a href="https://rozetka.com.ua/igrovaya-periferiya/c4668385/">https://rozetka.com.ua/igrovaya-periferiya/c4668385/</a></p>

</body>
</html>